* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}
#header {
    background-color : rgba(0,0,0,0.4);
    height:80px;
    width:100%;
    z-index: 1;
    position: relative;
}
#nav {
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#nav-word {
    display:flex;
    justify-content : space-around;
    position : relative;
    width: 45%;
    right: 15px;
}
.word {
    font-size : 20px;
}
#nav a {
    color : white;
    text-decoration: none;
}
#nav a:hover {
    color: skyblue;
}